# Python temp files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment secrets
.env

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
node-env/
last_verification_code.txt
*.zip
*.exe
*.tar.gz
*.pdf

